  <div>
    <label>How many stock trades do you make each quarter?</label>
    <input id="stock-trades" type="number"></input>
  </div>
  <div>
    <label>How many mutual fund trades do you make each quarter?</label>
    <input id="mf-trades" type="number"></input>
  </div>
  <div>
    <label>How many option trades do you make each quarter?</label>
    <input id="option-trades" type="number"></input>
  </div>
  <div>
    <label>How much margin do you generally use?</label>
    <input id="margin-use" type="number"></input>
  </div>
  <div>
    <input id="calculate" type="submit" value="Submit"></div>
  </div>

<svg id="brokers_info" class="chart" data-brokers="<%= @brokers_data %>"></svg>
