<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-1 col-md-4">
      <h1>Who has the lowest fees?</h1>
      <p>BrokerViz helps you find the right brokerage for you. Take the first step: enter your info below to see what option makes sense for you.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-1 col-md-4">
      <div class="form-group">
        <label>How many STOCK trades do you make each year?</label>
        <input id="stock-trades" class="form-control" type="number"></input>
      </div>
      <div class="form-group">
        <label>How many MUTUAL FUND trades do you make each year?</label>
        <input id="mf-trades" class="form-control" type="number"></input>
      </div>
      <div class="form-group">
        <label>How many OPTION trades do you make each year?</label>
        <input id="option-trades" class="form-control" type="number"></input>
      </div>
      <div class="form-group">
        <label>How much MARGIN do you generally use?</label>
        <input id="margin-use" class="form-control" type="number"></input>
      </div>
    </div>
    <div class="col-md-offset-1 col-md-6">
      <svg id="brokers_info" class="chart" data-brokers="<%= @brokers_data %>"></svg>
    </div>
  </div>
</div>
